@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

/* clases funcionales */

.contenedor{
  position: relative;
  display: inline-block;
  text-align: left;
}

/* Nav */

.barraNavegacion {
  font-family: "Montserrat";
  min-height: 10vh;
}

/* Header */

.fondo-header {
  min-height: 90vh;
}

/* tendencias */

.tendencias{
background-color: rgb(177, 177, 177);
}

/* Articulos de blog */

.articulo-blog{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
}

/* Miniarticulos */

.mini-articulos{
  border:none;
}

/* Footer */

.footer {
  display: flex;
  justify-content: space-between;
}
