@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

body {
  letter-spacing: 0px;
}

/* clases funcionales */

.contenedor {
  position: relative;
  display: flex;
  text-align: left;
  align-items: stretch;
}

/* Nav */

.barraNavegacion {
  min-height: 10vh;
}

.barraNavegacion a {
  font: normal normal normal 18px/13px Montserrat;
  opacity: 1;
  font-weight: bolder;
  color: #cbd0d3;
}
/* Header */

.fondo-header {
  min-height: 90vh;
}

.descripcion-header {
  height: 100%;
  position: absolute;
  top: 10px;
  color: white;
}

.texto-header h2 {
  font: normal normal bold 48px/42px Montserrat;
}
.texto-header h3 {
  font: normal normal bold 24px/34px Montserrat;
}
.texto-header p {
  font: normal normal normal 16px/26px Montserrat;
  letter-spacing: 0px;
}
hr {
  border: 2px solid;
  opacity: 1;
}

.recuadro-header {
  background: rgba(42, 48, 55, 0.5) 0% 0% no-repeat padding-box;
  border: 2px dashed #ffffff;
  border-radius: 6px;
  letter-spacing: 0px;
}

.recuadro-header h4 {
  font: normal normal bold 16px/20px Montserrat;
  color: #fa6980;
}

.recuadro-header h5 {
  font: normal normal bold 16px/20px Montserrat;
}

.recuadro-header p {
  font: normal normal 300 14px/22px Montserrat;
}

/* tendencias */

.tendencias {
  background-color: #ebebeb;
}

.tendencias h2 {
  font: normal normal bold 24px/20px Montserrat;
  margin-bottom: 50px;
}

.card-title {
  font: normal normal bold 16px/20px Montserrat;
  color: #2a3037;
}

.card-body {
  min-height: 120px;
}
.carta-tendencias {
  box-shadow: 0px 3px 6px #00000029;
}

.card-text {
  font: normal normal normal 13px/23px Montserrat;
  color: #7a838d;
}

/* Articulos de blog */

.blog h2 {
  font: normal normal bold 24px/20px Montserrat;
  color: #2a3037;
}

.articulo-blog {
  height: 100%;
  position: absolute;
  top: 10px;
  left: 50px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.titulo-blog {
  top: 100px;
  font: normal normal bold 16px/20px Montserrat;
}

.texto-articulo-blog h3 {
  margin-bottom: 0;
  font: normal normal bold 24px/34px Montserrat;
}

.texto-articulo-blog p {
  font: normal normal normal 16px/26px Montserrat;
}

.actividad-blog {
  font: normal normal normal 13px/26px Montserrat;

  color: #cbd0d3;
}
/* Miniarticulos */

.mini-articulos {
  border: none;
}

.articulos-laterales {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.texto-articulos-laterales {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.texto-articulos-laterales h5 {
  font: normal normal bold 16px/26px Montserrat;
  color: #202124;
}

.texto-articulos-laterales p {
  font: normal normal normal 13px/26px Montserrat;

  color: #cbd0d3;
}

/* Footer */

.footer {
  display: flex;
  justify-content: space-between;
  height: 96px;
}
